:root {
  --bg-color: #000000; /* آبی تیره */
  --text-color: #e2e8f0; /* خاکستری روشن */
  --primary-color: #38bdf8; /* آبی روشن */
  --card-bg-color: #1e293b; /* کمی روشن‌تر از پس‌زمینه */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Vazirmatn', sans-serif; /* یک فونت فارسی زیبا مثل وزیرمتن (باید به پروژه اضافه شود) */
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}